<div class="wrapper">
    <div class="image_wrapper">
        <img src="static/image/analytic/click.png" alt="">
    </div>
    <div class="image_wrapper">
        <img src="static/image/analytic/stock.png" alt="">
    </div>
    <div class="image_wrapper">
        <img src="static/image/analytic/quantity.png" alt="">
    </div>
</div>

<style>
    .wrapper {
        width: 100%;
        padding: 5% 10%;
        box-sizing: border-box;
        background-color: aliceblue;
        display: flex;
        flex-wrap: wrap;
        gap: 10%;
    }

    .wrapper > * {
        flex: 1 1 40% ;
    }

    .image_wrapper {
        width: 40%;
        margin-bottom: 50px;
    }
    .image_wrapper > img {
        width: 100% ;
    }
</style>