<div class="content_wrapper">
    <div class="left_column">
        <div class="product_info">
            <h1>Product info</h1>
            <h2>Basic info</h2>
            <form>
                <label for="Visibility">Visible</label>
                {% if product['is_visible'] %}
                    <input type="checkbox" id="visibility" value="Visibility" checked>
                {% else %}
                    <input type="checkbox" id="visibility" value="Visibility">
                {% endif %}


                <label for="id">Id</label>
                <div id="id">{{product['product_ID']}}</div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="{{product['title']}}">
                <label for="price">Price</label>
                <input type="text" name="price" id="price" value="{{product['price']}}">
                <label for="description">Description</label>
                <textarea type="text" name="description" id="description">{{product['description']}}</textarea>
            </form>
            
        </div>

        <div class="product_info subsection">
            <form>
                <label for="stock">stock</label>
                <input type="text" name="stock" id="stock" value="{{product['stock']}}">
                <label for="discount">discount</label>
                <input type="text" name="discount" id="discount" value="{{product['discount']}}" oninput="priceAfterDiscount()">
                <div>Total: <span id="discountted_price">$ {{product['price']}}</span></div>

            </form>
        </div>
    </div>
    <div class="right_column">
        <div class="collections">
            <h1>Collections</h1>
            {% for collection in product['usage']%}
                <div class="collection" onmouseover="changeColor('{{collection}}')" onmouseout="backNoraml('{{collection}}')" id="{{collection}}">
                    <span>{{collection}}</span>
                    <span><a onclick="removeCollection('{{collection}}')"><img src="/static/icon/delete.png" alt=""></a></span>
                </div>
            {% endfor %}
        </div>

        <div class="buttons">
            <div class="collection_add_wrapper">
                <span>
                    <input type="text" name="" id="newCollection" placeholder="Add Collection">
                </span>
            </div>
            <button onclick="addCollection()">Add</button>
            <button onclick="updateProduct()">Update</button>
        </div>

    </div>
    <div class="images">
        <h1>Images</h1>
        <div class="image_wrapper">
            {% for image in product['image'] %}
                <div class="single_wrapper" id="{{image}}">
                    <button onclick="removeImage('{{image}}')">X</button>
                    <img src="{{image}}" alt="">
                </div>
            {% endfor %}
            <div class="single_wrapper">
                <label for="file" class="addImage">+</label>
                <input style="display: none;" name="file" id="file" type="file" placeholder="+" onchange="uploadProduct(this)" productId="{{product['product_ID']}}"/>
            </div>
        </div>
    </div>

</div>


<style>
    div.buttons > div.collection_add_wrapper {
        width: 100%;
        box-sizing: border-box;
        padding: 0 1%;
        height: 8vh;
        text-align: center;
        margin: 0 0 10px 0;
    }

    div.images {
        width: 100%;
    }

    div.images > div.image_wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        gap: 5%;

    }
    
    div.single_wrapper {
        position: relative;
        cursor: pointer;
    }

    label.addImage {
        background: #99dbf5a2;
        text-align: center;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 6em;
        color: white;
        font-weight: 900;
        cursor: pointer;
        transition: 2s;
    }

    label.addImage:hover {
        background: #fda76da2;
        transition: 2s;
    }

    div.single_wrapper > button {
        width: 2em;
        height: 2em;
        background: none;
        border: none;
        outline: none;
        color: black;
        font-size: 2em;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    div.single_wrapper > button:hover {
        background: #d6d1d173;
    }

    div.single_wrapper > img {
        width: 100%;
    }

    div.image_wrapper > * {
        flex: 1 1 30%;
        min-width: 100px;
        margin-bottom: 20px;
        min-height: 100px;
    }

    div.collection_add_wrapper > span >  input {
        width:90%;
        height: 8vh;
        border: solid 2px black;
        font-size: 20px;
        float: left;
    }
    div.collection_add_wrapper > span >  input::placeholder {
        font-size: 20px;
        color: silver;
    }

    div.collection_add_wrapper > span > img {
        height: 4vh;
        margin: 2vh 0;
        cursor: pointer;
        float: left;
        
    }

    div.buttons > button {
        width: 10vw;
        height: 3vw;
        margin: 0 1%;
        border: black;
        background-color: black;
        color: white;
        outline: none;
        cursor: pointer;
        text-align: center;
        font-size: 1em;
    }

    div.collection {
        width: 100%;
        border: black solid 2px;
        box-sizing: border-box;
        margin: 10px 0;
        line-height: 3em;
        padding: 0 5%;
        transition: 2s;
    }

    div.collection > span:nth-of-type(2){
        float: right;
    }
    div.collection > span > a > img {
        height: 1.5em;
        cursor: pointer;
    }

    div.content_wrapper {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        gap: 2%;
        padding: 1.5% 2%;
    }

    div.content_wrapper > div.left_column {
        width: 65%;
        box-sizing: border-box;
        /*background: silver;*/
    }
    div.content_wrapper > div.right_column {
        width: 33%;
        box-sizing: border-box;
    }
    
    div.content_wrapper h1 {
        font-size: 1.5em;
        font-weight: 200;
        line-height: 3em;
        border-bottom: solid black 1px;
    }

    div.content_wrapper h2 {
        font-size: 1.2em;
        font-weight: 200;
        line-height: 2.1em;
    }

    div.product_info, div.collections, div.buttons, div.images{
        height: fit-content;
        box-sizing: border-box;
        box-shadow: 10px 10px 20px silver;
        padding: 3vh;
        border-radius: 5vw;
        margin: 5vh auto;
    }

    form {
        margin: 0 0 0 2%;
    }

    form label {
        font-size: 1em;
        font-weight: 100;
        margin: 0 0 4px 0;
        display: block;
    }

    form input[type=text] {
        width: 60%;
        height: 30px;
        font-size: 1em;
        font-weight: 100;
        margin: 0 0 20px 0;
        display: inline-block;
        outline: none;
        border-radius: 4px;
        border: powderblue 2px solid;
    }

    form textarea[name=description] {
        width:90%;
        height: 240px;
        margin: 0 0 20px 0;
        display: inline-block;
        outline: none;
        border-radius: 4px;
        border: powderblue 2px solid;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>