@font-face{
    font-family: "Roboto";
    src: url("/font/Roboto/Roboto-Regular.ttf")
}
/*For register form*/
/*Body*/
body {
    background-color: white;
}
/*Header*/
header {
    width: 100%;
    height: 10vh;
    margin: 0;
    background-color: orange;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header div.shop_menu {
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
}

header div.shop_menu a{
    width: 33.333333%;
    color: white;
}

/*Big register form wrapper*/
div.register_form {
    width: 100%;
    padding: 10% 5%;
    box-sizing: border-box;
    text-align: center;
    color: #666;
}
/*Register form*/
div.register_form form{
    display: inline-block;
    background-color: white;
}

div.register_form form label{
    font-size: 20px;
    position: relative;
    left: 0;
    margin: 1vh 0;
}

div.register_form form input{
    width: 40.333vw;
    margin: 2vh 6vw;
    height: 7.5vh;
}

div.register_form form input[id="password"]{
    -webkit-text-security: disc;
}

div.register_form form input[type="button"]{
    width: 40.333vw;
    height: 7.5vh;
    background-color: teal;
    font-size: 4vh;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
}
/*Login Form*/
form.login_form {
    background-color: white;
    width: 40vw;
    font-family: "Roboto";
    padding: 5%;
    box-sizing: border-box;
    margin: 20vh 30%;
}

@media screen and (max-width: 600px) {
    form.login_form {
        width: 80%;
        margin: 30vh 10%;
    }
  }

form.login_form > *{
    display: block;
}

form.login_form > label{
    margin: 0 0 .5vh 0;
}

form.login_form > input{
    width: 100%;
    height: 3em;
    background-color: #f2f2f2;
    box-sizing: border-box;
    padding: 0 5%;
    margin: 0 0 1.5vh 0;
    border: none;
    outline: none;
    font-size: 1em;
}

form.login_form > input:placeholder-shown{
    font-size: 1em;
}

form.login_form > button{
    width: 40%;
    height: 2em;
    font-size: 1.5em;
    background: linear-gradient(to right, #7F7FD5,#86A8E7,#91EAE4);
    color: white;
    border: none;
    outline: none;
    margin: 10% 30% 0 30%;
    cursor: pointer;
}

form.login_form > button:hover{
    background: linear-gradient(to left, #7F7FD5,#86A8E7,#91EAE4);
}
/*Warning Area*/
div.warning_area {
    width: 30%;
    background: linear-gradient(to right,#FF416C,#FF4B2B);
    color: white;
    box-sizing: border-box;
    position: fixed;
    top: 4px;
    margin: 0 35%;
    padding: 2%;
}

.none {
    display: none;
}