<!DOCTYPE html>
<html lang="en">
<head>
<body>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <script type="text/javascript" src="../../static/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/axios.min.js"></script>
    <script type="text/javascript" src="../../static/js/qs.min.js"></script>
    {% include "Common/header.html" %}
<!-- <img src="/static/image/product_image/1/0.jpg" style="width: 100%;margin-bottom: 20px;" alt=""> -->
    <img style="width: 100%;margin-bottom: 20px;" src="static/img/myStory.png">
    
{% include "Common/footer.html" %}
</body>
</html>